* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

h1 {
    font-size: 30px;
    text-align: center;
}

#details {
    text-align: center;
    width: 35%;
    margin: 0px auto;
}

#quiz {
    width: 35%;
    margin: 0px auto;
}

#quiz li {
    padding: 5px;
}

button {
    background-color: indigo;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    background-color: blueviolet;
    cursor: pointer;
}

button:active {
    border: 2px solid blueviolet;
    background-color: white;
    color: black;
    margin: -2px;
}

form > button {
    padding: 8px 14px;
    font-size: 14px;
}

#heading {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.result {
    font-style: italic;
    color: gray;
}